
    div.out {
    background-color: #1a85169c ;
    padding: 10px;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: trebuchet ms
    }
    
    div.in {
        color: rgb(12, 10, 10);
        display: inline-block;
        width: 100%;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.452);
        padding: 5px;
        border-radius: 10px;
        margin-left: 10px;
        font-family: trebuchet ms
        }
        div.in2 {
            color: rgb(255, 255, 255);
            display: inline-block;
            width: 60%;
            background-color: rgba(255, 255, 255, 0.452);
            padding: 5px;
            border-radius: 10px;
            margin-left: 9px;
            font-family: trebuchet ms
            }
            .logo{
              display: flex;
              position: absolute;
              padding: 0.6em 1.5em;
            }
            .prof {
                
              display: flex;
              justify-content: end;
              padding: 1em 1.5em;
              font-family: Arial Black;
              text-decoration: none;
              text-transform: uppercase;
            }
            .pr {
              background-color: rgb(194, 12, 88);
              color: rgb(0, 0, 0);
              padding: 12px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              font-size: 16px;
              
            }
            .pr:hover {
              background-color:rgb(255, 0, 106);
            }
.prof2 {
    margin-top: 10px;
    margin-left: 998px;
    background-color: rgba(255, 0, 106);
    border-radius: 10px;
    padding: 1em 1.5em;
    font-family: Arial Black;
    text-decoration: none;
    text-transform: uppercase;
  }

    